body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #222;
    color: white;
    user-select: none;
}

#controls {
    margin: 20px;
}

#frequency_picker {
    width: 100%;
    height: 100svh;
}

input[type="range"] {
    width: 60%;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

.center {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}
